@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
    background-image: url('../imgs/background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Poppins", sans-serif;
}

.container {
    width: 20%;

}

.navbar {
    width: 100%;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
    max-height: 100vh;
    position: relative;
    z-index: 1000;
}

.nav-container {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 62px;
}

.navbar .nav-container li {
    list-style: none;
}

.navbar .nav-container a {
    text-decoration: none;
    color: #0e2431;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
}

.navbar .nav-container a:hover{
    font-weight: bolder;
}

.nav-container {
    display: block;
    position: relative;
    height: 60px;
}

.nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
}

.nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
    padding-top: 100px;
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    background-color: white;
}

.navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 1.2rem;
    color: #0e2431;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
    display: none;
}

/* Styles pour le tableau */
table.product-table {
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    border-collapse: separate;
    border-spacing: 0 20px;
    z-index: 1;
}

/* Styles pour les lignes du tableau */
tr.product-row {
    background-color: rgba(221, 221, 221, 0.26);
    cursor: pointer;
}


/* Styles pour les images des produits */
.product-leftpart img {
    border-radius: 100%;
    margin-right: 10px;

}

/* Styles pour les boutons de quantité */
.product-quantity button {
    margin: 0 5px;
}


button {
    background-color: #f0f0f0;
    border: none;
    padding: 5px;
    cursor: pointer;
}

/* Styles pour la partie gauche du produit */
.product-leftpart {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

/* Styles pour l'image du produit */
.product-leftpart img {
    float: left;
    border-radius: 16px;
    margin-right: 10px;
}

.product-data {
    overflow: hidden;
}

/* Styles pour le nom du produit */
.product-name {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

/* Styles pour le prix */
.product-price {
    font-size: 14px;
    margin: 5px 0 0;
}


.product-leftpart::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}


.product-leftpart .product-data {
    display: inline-block;
    vertical-align: middle;
}

/* Styles pour la partie droite du produit */
.product-rightpart {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Styles pour la section des dates */
.product-date {
    flex: 1;
}


.product-buttons {
    flex-shrink: 0;
    margin-left: 10px;
}

.product-date p {
    margin: 5px 0;
    line-height: 1.2;
}


.product-rightpart::after {
    content: '';
    display: table;
    clear: both;
}

.product-quantity {
    display: flex;
    align-items: center;
}


.quantity {
    text-align: center;
    margin: 0;
    flex-grow: 1;
}

.product-buttons {
    display: flex;
    align-items: center;
    gap: 50px;
}

.product-editbuttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
}

.product-editbuttons button {
    margin: 5px 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ededed;
    border: none;
    cursor: pointer;
}

td {
    padding: 15px;
}

.message {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}
.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

/* Styles pour la ligne d'ajout de produit */
.add-product-row td {
    background-color: rgba(221, 221, 221, 0.26); /* Même couleur que les autres lignes */
    border-radius: 16px;
    text-align: center;
    cursor: pointer;
}

.add-product-row p {
    margin: 0;
    font-weight: bold;
}
.container > div {

    border-radius: 10px;
}